{% extends 'base.html' %}
{% load thumbnail%}
{% block title %}
  {% if not is_edit %}
    Новый пост
  {% else %}
    Редактировать запись
  {% endif %}
{% endblock %}
{% block contents %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if not is_edit %}
            Новый пост
          {% else %}
            Редактировать запись
          {% endif %}
        </div>
        <div class="card-body">
          {% include 'includes/form_errors.html' %}
          {% if not is_edit %}
            <form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
            {% else %}
              <form method="post" action="{% url 'posts:post_edit' post.pk %}" enctype="multipart/form-data">
              {% endif %}
              {% csrf_token %}
              {% include 'includes/forms.html' %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  {% if not is_edit %}
                    Добавить
                  {% else %}
                    Сохранить
                  {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
